@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");


:root {
	--gray: #333740;
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-family: "Inter", sans-serif;
	background-color: white;
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/*	padding: 40px 120px;*/
}

.nav {
	border-bottom: var(--gray) solid 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.push {
    margin-left: auto;
}
  

.text-logo {
	margin: 0;
	font-weight: 500;
	font-size: 22px;
	color: #f36f27;
	letter-spacing: -0.8px;
}



.content {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-top: 120px;
}

.links {
	display: flex;
	flex-direction: row;
	margin-left: 40px;
}

.btn-round {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #f36f27;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	
}

.link {
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #3b454e;
	margin-right: 20px;;
}

.link:hover {
	background-color: rgba(0,0,0,0.4);
}

.header {
	margin: 0;
	font-weight: 500;
	font-size: 32px;
	color: #f36f27;
	letter-spacing: -0.8px;
}

.about {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
}

.section_header {
	font-size: 22px;
	font-weight: 500;
	margin: 0;
}

.quick_access {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}

.quick_access_wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 40px;
}

.quick_access_card {
	width: 240px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	background-color: #f5f7f9;
	border-radius: 3px;
	padding: 16px 20px;
	margin-right: 40px;
}

.quick_access_card > img {
	margin-left: 20px;
}

.open_source_item {
	margin-left: 10px;
	color: #495464;
}

/*
Bootstrap 4 breakpoints
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

	/* .main {
		padding: 40px 120px;
		display: flex;
		flex-direction: row;
	}

	.nav {
		height: 100%;
		width: 160px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #f5f7f9;
		overflow-x: hidden;
		padding: 40px 20px;
	}

	.content {
		padding: 40px 120px;
	} */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
