@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

	body {
		margin: 0;
		padding: 0;
		font-size: 18px;
		font-weight: 500;
		font-style: normal;
		font-family: 'Inter', sans-serif;
		background-color:  white;
	}
	
	.main {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 40px 120px;
	}

	.sidenav {
		height: 100%; /* Full-height: remove this if you want "auto" height */
		width: 160px; /* Set the width of the sidebar */
		position: fixed; /* Fixed Sidebar (stay in place on scroll) */
		z-index: 1; /* Stay on top */
		top: 0; /* Stay at the top */
		left: 0;
		background-color: #F5F7F9;
		overflow-x: hidden;
		padding: 40px 20px;
	}

	.links {
		display: flex;
		flex-direction: column;
	}

	.link {
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 20px;
		text-decoration: none;
		color: #3B454E;
	}

	.link:hover{
		text-decoration: underline;
	}

	.header {
		margin: 0;
		font-weight: 500;
		font-size: 32px;
		color:  #F36F27;
		letter-spacing: -.8px;
	}

	.about {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.625;
	}
	
	.section_header {
		font-size: 22px;
		font-weight: 500;
		margin: 0;
	}

	.quick_access {
		display: flex;
		flex-direction: column;
		margin-top: 60px;
	}

	.quick_access_wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.quick_access_card {
		width: 180px;
		height: 60px;
		background-color: #F5F7F9;
		border-radius: 3px;
		margin-top: 40px;
		padding: 22px 24px;
		margin-right: 40px;
	}


	.open_source_item {
		margin-bottom: 20px;
		color: #495464;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-content: center;
		padding-top: 0;
		max-width: 840px;
		padding-left: 180px;
	}


	@media screen and (max-width: 700px) {
		.main {
			flex-direction: column;
			padding: 40px;
			align-items: start;
		}

			
		.content {
			padding-left: 0;
		}

		.org_detail {
			padding-top: 40px;
			max-width: 440px;
			padding-left: 0px;
		}

		.section_open_source {
			margin-top: 40px;
		}

		.quick_access_card {
			flex-direction: column;
			margin-right: 40px;
		}
	
	}

